:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --info-color: oklch(72.06% 0.191 231.6);
  --success-color: oklch(64.8% 0.15 160);
  --warning-color: oklch(84.71% 0.199 83.87);
  --error-color: oklch(71.76% 0.221 22.18);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  @apply bg-background text-text font-sans;
}

* {
  outline: none;
}

.page-container {
  @apply w-full max-w-1200px mx-auto;
}

